/* div {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.todoList {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 */
}
